
.about-page {
    background: linear-gradient(to bottom, #3498db, #2980b9);
    color: black; 
    padding: 20px; 
  }
  
  .about-content {
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(243, 239, 239, 0.5);
    
  }
  
 #dark .about-content{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
 }