.All-container {
    background: linear-gradient(to bottom, #3498db, #2980b9);
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }

.dark-mode .Flexibility-container {
  background-color: #333; 
  color: #fff; 
  border-color: #555; 
}